<div class="jumbotron"
	<h1>Sign up here</h1>
	<form class="form-inline" role="form">
  <div class="form-group">
    <label class="sr-only" for="exampleInputEmail2">Email address</label>
    <input type="email" class="form-control" id="exampleInputEmail2" placeholder="Enter email">
  </div>
  <br>
  <div class="form-group">
    <label class="sr-only" for="exampleInputPassword2">Username</label>
    <input type="password" class="form-control" id="exampleInputUsername2" placeholder="Username">
  </div>
  <br>
  <div class="form-group">
    <label class="sr-only" for="exampleInputPassword2">Password</label>
    <input type="password" class="form-control" id="exampleInputPassword2" placeholder="Password">
  </div>
  <br>
  <button type="submit" class="btn btn btn-primary btn-sm">Sign up</button>
</form>
</div>