
<h1>Whats next?</h1>
<p>In development is a service which will let you constantly fill you're twitter account with content.  It's easy to set up, low maintenence, and does all the work for you.  For one low yearly fee you are able to get all the benefits of twitter without doing any of the work. </p>
<p> Stay tuned!!! </p>